*{
		margin:0;
		padding:0;
		box-sizing:border-box;
}
.home{
		height:100vh;
		width:100%;
		display:flex;
		background-color:white;
}

.main{
		flex:1;
}
.sidebar-container{
		height:100vh;
		width:350px;
		position:fixed;
		background-color:#101112;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		transition:0.4s;
}
.sidebar-container-padding{
		width:350px;
		transition:0.4s;
}
.icon svg{ position:relative;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
}
.icon:hover .svg-n{
		fill:#D0A854;

}
.icon{
		text-align:center;
		display:block;
		flex-grow:2;
}
.routes{
		display:grid;
		grid-template: column;
		flex-grow:3;
}
.routes > a {
		color:white;
		font-size:18px;
		letter-spacing:2px;
		font-family:'Roboto', sans-serif;
		text-decoration: none;
		transition:0.3s;
}
.routes > a:hover{
		color:#D0A854;
}
.padding1 , .padding2{
		height:5px;
}

.hamburger {
		display:none;
		padding:10px;
		height:30px;
		width:50px;
		z-index:100;
		flex-direction:column;
		gap:5px;
		background:none;
		border:none;
		outline:none;
		cursor:pointer;


}
.hamburger > span{
		border:#D0A854 solid 1px;
		width:30px;
		transform-origin:0 0;
		transition:0.4s
}
.hamburger:hover span:nth-child(2){
		transform:translateX(10px);
		border-color:black;
}
.hamburger.isactive{
		gap:2px;
}
.hamburger.isactive span:nth-child(1){
		transform : translate(0,0) rotate(45deg);
}
.hamburger.isactive span:nth-child(2){
		display:none;
}
.hamburger.isactive span:nth-child(3){
		transform : translate(-2px,17.3px) rotate(-45deg);
}
@keyframes sidebarmove {
  from {transform:translateX(-100%);}
  to {transform:translateX(0%);}
}
@media(max-width:1080px){
		.sidebar-container, .sidebar-container-padding{
				display:none;
		}
		.sidebar-container.isactive{
				animation-name:sidebarmove;
				animation-delay:0.4s;
				display:flex;
		}
		.hamburger{
				display:flex;
		}

}
